/*appearance of the box*/
.x-menu {
    background-color: grey;
    width: 6.5rem;
    height: 6rem;
    border:white dotted;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -1;
  }
  /*esthetic of the lines*/
  .line {
    width: 4.5rem;
    height: 0.7rem;
    background-color: rgba(205, 152, 230, 0.589);
    border-radius: 15%;
    animation-duration: 3s;
    animation-timing-function: linear;
    transition:1s; /*the time that will take to do the action*/
  }
  /*now i have to adjust every line to make a move after the mouse is over,ever line, one direction to create the X*/

  /*I realized i do not need these lines - make no effect! 
  .line.one {
    position: relative;
    animation-name: move-x;
    animation-duration: 3s;
    animation-timing-function: linear;
  }
  .line.two {
    position: relative;
    animation-name: move-x;
    animation-duration: 3s;
    animation-timing-function: linear;
  }
  */
  .x-menu:hover .line.one{
    transform: rotate(45deg) translate(13px, 10px) scale(1.5); /*to make it the departure equal in both cases, the first number after translate must be the same in both lines*/
    background-color: white;
    cursor:zoom-in;
    
  }
  .x-menu:hover .line.sec{
    transform: rotate(-45deg) translate(13px, -10px) scale(1.5);
    background-color:white;
    cursor:zoom-in;
  }

  /*here I am trying to make every line move, and it does, but not interlace between them:

  .line.sec:hover {
    background-color: blueviolet;
    transform: scale(1.1);
    transform: rotate(-40deg);
    cursor:zoom-in;
  }
  .line.one:hover{
    background-color: blueviolet;
    transform: scale(1.1);
    transform: rotate(40deg);
    cursor:zoom-in;
}*/

